@import url('https://fonts.googleapis.com/css2?family=Petit+Formal+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Petit+Formal+Script&family=Roboto:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Roboto:wght@700&display=swap" ');
* {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
}
body {
    background-image: url("img/opacity.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.content {
    height: 1500px;
    width: 100%;
}
a{
    text-decoration: none;
}
.container {
    width: 100%;
    min-width: 1700px;
    height: 100px;
    background-color:#fdb064;
    background-position: center;
    background-size: cover;
    padding-left: 10%;
    padding-right: 10%;
    box-sizing:border-box;
    display: flex;
    align-items: center; 
    justify-content: space-between;
}
.container a {
    text-decoration: none;
}
.navbar {
    height: 200px;
    display: flex;
    align-items: center;

}
nav {
    flex: 1;
    min-width: 1500px;
    text-align: right;
}
nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 40px;
    vertical-align: middle;
}

nav ul li a {
    color:white;
    font-size: 16px;
    text-decoration: none;
}

ol li {
    margin: 20px 0;
}

.row {
    display: flex;
    height: 800px;
    align-items: center;
    padding-left: 100px;
}
.col {
    flex-basis: 40%;
}

.row1 {
    width: 1400px;
}
.row2 {
    height: 800px;
}

.col1 {
    width: 1400px;
    height: 800px;
}
.col2 {
    padding-left: 190px;
}

.col-about {
    height: 800px;
    margin-top: 400px;
}
.col2-work {
    margin-top: -500px;
}

h1 {
    color: #444444;;
    font-size: 60px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
}

p {
    color: #444444;;
    font-size: 18px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
}

.intro {
    margin-top: 10px;
}

.about_list{
    color: #444444;;
    font-size: 18px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
}
.card{
    width: 180px;
    height: 180px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor:pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    transition: 1s ease-in-out;
}
.card1{
    background-image: url(img/pic-1.png);
}
.card2{
    background-image: url(img/pic-2.png);
}
.card3{
    background-image: url(img/pic-3.png);
}
.card:hover{
    height:300px;
    width:300px;
}

.card_text {
    font-size: 20px;
    color: white;
    opacity: 0;
    display: block;
    height:100%;
    width:100%;
}

.card_text:hover{
    opacity: 1;
}

.card_text:hover{
    opacity: 1;
}
.logo {
    font-weight: 500;
}
a:hover{
    color:#d3a9e8;
    transition:0.5s;
}
span{
    color:chocolate
}
#about-text {
    height: 500px;
    width: 500px;
}

#cici_image {
    width: 500px;
    height: auto;
}
#footer {
    font-family: 'Josefin Sans', sans-serif;
    font-size: .7em;
    color: gray;
    margin: 10px;
    text-align: center;
}
table, th, td {
    border: 1px solid;
    padding: 20px;
    border-collapse: collapse;
}
#food-delivery-app {
    background-image: none;
}
#project_table {
    margin-top: 30px;
}
ul > li {
    margin: 5px;
    color: #444444;
}
#work_image{
    width: 70%;
    height: 70%;
}

#flow-diag1 {
    width: 500px;
    height: auto;
}
.row2 {
    margin-top: -200px;
    width: 1500px;
}
#about-h1 {
    font-size: 35px;
}